

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #4f46e5;
    --text: #1f2933;
    --background: #f9fafb;
    --card-bg: #ffffff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background);
    color: var(--text);
    line-height: 1.6;
}


main {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 40px;
}


header {
    background-color: var(--card-bg);
    padding: 20px;
    border-bottom: 2px solid #e5e7eb;
}

header h1 {
    text-align: center;
    margin-bottom: 10px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: var(--primary);
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    color: #3730a3;
}



h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

p {
    font-size: 1rem;
    margin-bottom: 10px;
}



.profile-img {
    display: block;
    margin: 10px auto;
    width: 200px;
    border-radius: 50%;
}



.btn {
    display: inline-block;
    background-color: var(--primary);
    color: white;
    padding: 10px 16px;
    border-radius: 6px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #3730a3;
}



article,
.skills-box {
    background-color: var(--card-bg);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}

ul {
    list-style-position: inside;
}



footer {
    text-align: center;
    padding: 15px;
    background-color: var(--card-bg);
    border-top: 2px solid #e5e7eb;
    margin-top: 40px;
}
